<nav id="sidebar" class="behavior_1">
  <div class="wrap">
    <div class="profile">
      <a href="/"> <img src="{{.global.LogoUrl}}" alt="{{.global.Title}}" /></a>
      <span>{{.global.Title}}</span>
    </div>
    <ul class="buttons">
      <li>
        <a class="" href="/" title="首页"
          ><i class="iconfont icon-home"></i><span>首页</span></a
        >
      </li>
      <li>
        <a class="" href="/archives" title="归档"
          ><i class="iconfont icon-archive"></i><span>归档</span></a
        >
      </li>
      <li>
        <a class="" href="/about" title="关于"
          ><i class="iconfont icon-user"></i><span>关于</span></a
        >
      </li>
      <li>
        <a class="" href="/links" title="友链"
          ><i class="iconfont icon-link"></i><span>友链</span></a
        >
      </li>
      <li>
        <a class="" href="/my-pages" title="我的页面"
          ><i class="iconfont icon-archive"></i><span>我的页面</span></a
        >
      </li>
    </ul>
    <ul class="buttons">
      <li>
        {{if .global.GithubUrl}}
        <a
          class="inline"
          rel="nofollow"
          target="_blank"
          href="{{.global.GithubUrl}}"
          ><i class="iconfont icon-github-v" title="GitHub"></i
        ></a>
        {{end}} {{if .global.WeiboUrl}}
        <a
          class="inline"
          rel="nofollow"
          target="_blank"
          href="{{.global.WeiboUrl}}"
          ><i class="iconfont icon-weibo-v" title="微博"></i
        ></a>
        {{end}} {{if .global.ZhihuUrl}}
        <a
          class="inline"
          rel="nofollow"
          target="_blank"
          href="{{.global.ZhihuUrl}}"
          ><i class="iconfont icon-zhihu" title="知乎"></i
        ></a>
        {{end}} {{if .global.CsdnUrl}}
        <a
          class="inline"
          rel="nofollow"
          target="_blank"
          href="{{.global.CsdnUrl}}"
          ><i class="iconfont icon-csdn" title="CSDN"></i
        ></a>
        {{end}}
        <a class="inline" href="/tags"
          ><i class="iconfont icon-tags" title="标签"></i
        ></a>
        <a class="inline" href="/admin" target="_blank"
          ><i class="iconfont icon-dashboard" title="管理后台"></i
        ></a>
      </li>
    </ul>
  </div>
</nav>
<div id="header">
  <div class="btn-bar"><i></i></div>
  <h1><a href="/">{{.global.Title}}</a></h1>
  <a class="me" href="/about"
    ><img src="{{.global.LogoUrl}}" alt="{{.global.Title}}"
  /></a>
</div>
<div id="sidebar-mask"></div>
